<footer id="site-footer" class="py-10 print:hidden">
  <div class="flex items-center justify-between">
    {{/* Copyright - left side */}}
    {{ if .Site.Params.footer.showCopyright | default true }}
      <p class="text-sm text-neutral-500 dark:text-neutral-400">
        {{- with replace .Site.Params.copyright "{ year }" now.Year }}
          {{ . | markdownify }}
        {{- else }}
          &copy;
          {{ now.Format "2006" }}
          {{ .Site.Params.Author.name | markdownify }}
        {{- end }}
      </p>
    {{ end }}

    {{/* Learn more link - right side */}}
    <p class="text-sm text-neutral-500 dark:text-neutral-400">
      <a class="hover:underline hover:decoration-primary-400 hover:text-primary-500"
        href="https://github.com/jstuker/massalia.events" target="_blank" rel="noopener noreferrer">Learn more about this site</a>
    </p>
  </div>
  {{ if not .Site.Params.disableImageZoom | default true }}
    <script>
      mediumZoom(document.querySelectorAll("img:not(.nozoom)"), {
        margin: 24,
        background: "rgba(0,0,0,0.5)",
        scrollOffset: 0,
      });
    </script>
  {{ end }}
  {{/* Extend footer - eg. for extra scripts, etc. */}}
  {{ if templates.Exists "partials/extend-footer.html" }}
    {{ partialCached "extend-footer.html" . }}
  {{ end }}
</footer>
